<mat-sidenav-container fxFill>
  <mat-sidenav mode="side" #sidenav opened position="start">
    <mat-nav-list fxLayout="column" fxLayoutAlign="space-evenly none">

      <a mat-list-item routerLink="/user/details"> Detailed information </a>
      <a mat-list-item [routerLink]="'/create-account'"> Daily </a>
      <a mat-list-item [routerLink]="'/contacts'"> Create recipe </a>
      <a mat-list-item [routerLink]="'/contacts'"> Create product </a>
      <a mat-list-item [routerLink]="'/create-contact'"> Shopping list </a>



    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()" >
        <mat-icon>menu</mat-icon>
      </button>

      <div class="spacer" style="flex: 1 ;" ></div>
      <button mat-button color="dark" >
        Logged as: {{currentUserName}}
      </button>
      <button mat-button

              (click)="logout()"
              color="dark">Logout
      </button>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
