
.main-div mat-card
{
  padding: 0px;

}
.main-div {

}
.form-form
{
  padding: 15px;
}

.icon {

}

.mat-card
{
  height: 28%;
}


.spacer {
  flex: 1 1 auto;
}
.bg{

  background: url('../../assets/img/cwiczacaBaba.jpg') no-repeat ;
  background-size: cover;

}
.child-div
{
  padding-top: 10%;
  padding-right: 17%;
  padding-left: 60%;
}
