.mat-card
{
  padding: 0px;


}
.main-div
{

}
.choose
{
padding: 7px;
}

.bg{

  background: url('../../assets/img/cwiczacaBaba.jpg') no-repeat ;
  background-size: cover;

}
.child-div
{
  padding-top: 10%;
  padding-right: 17%;
  padding-left: 60%;
  height: 100%;

}
.button
{
  margin: 10px;
}


