<div class="container">

  <div class="Recipe" fxFlex="70%">
    <div *ngIf="successfullyAdded; ">
    <div class="alert alert-success" >
      Thanks, recipe has been successfully added!
    </div>
  </div>
    <mat-toolbar class="bg-transparent black-text" >
      <span class="title-center">Recipe</span>
    </mat-toolbar>

    <form class="form-form" [formGroup]="recipeForm" >
    <div fxLayout="row" fxLayoutAlign="space-around center" >
      <mat-form-field appearance="fill" >
        <mat-label >Name</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="fill" style="margin-left: 10px">
        <mat-label >Type</mat-label>
        <mat-select formControlName="type">
          <mat-option value="BREAKFAST">Breakfast</mat-option>
          <mat-option value="DINNER">Dinner</mat-option>
          <mat-option value="SUPPER">Supper</mat-option>
          <mat-option value="SNACK">Snack</mat-option>
          <mat-option value="DESSERT">Dessert</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
      <div fxLayout="column" fxLayoutAlign="space-around center">
      <mat-form-field appearance="fill" fxFill>
        <mat-label>Please describe here how to prepare this dish :)</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>
      <button mat-raised-button
              (click)="createRecipe(recipeForm.value);"
              color="primary">Create recipe
      </button>
      </div>
    </form>
  </div>

  <div class="AddProduct" fxFlex="30%">
    <mat-toolbar class="bg-transparent black-text" >
      <span class="title-center">Ingredients</span>
    </mat-toolbar>

  <div *ngIf="!isProductInDb; ">
    <div class="alert alert-danger" >
      There is no such of product in database
    </div>
  </div>

    <div *ngIf="!isMnValueOk; ">
      <div class="alert alert-danger" >
        Insufficient product quantity
      </div>
    </div>

<form class="form-form" [formGroup]="addProductForm" fxLayout="column" fxLayoutAlign="space-around center">
  <mat-form-field class="wrap" appearance="fill">
    <mat-label >Name of product in database</mat-label>
      <input  matInput autocomplete="off" formControlName="searchForProduct" (keyup)="pingingSearch($event)" >
  </mat-form-field>

  <mat-selection-list [multiple]="false" appearance="fill" style="margin-bottom: 18px; padding: 0" #list (selectionChange)="onSelection($event, list.selectedOptions)">
    <mat-list-option mat-list-item  *ngFor="let product of searchedProductListBasedOnInputChange" [value]="product" >
      <span style="font-size:14px">{{product.name}}</span>
      <span style="font-size:10px; color: gray">
        kcal {{product.kcal}} | P {{product.protein}} | F {{product.fat}} | C {{product.carbo}} /
        <span *ngIf="product.metric!='PC'" style="font-size:10px; color: gray"> 100 </span>
        <span *ngIf="product.metric=='PC'" style="font-size:10px; color: gray"> piece </span>
        <span *ngIf="product.metric!='PC'" style="font-size:10px; color: gray">  {{product.metric}} </span>
      </span>
      <span style="font-size:10px; color: gray">  </span>
    </mat-list-option>
  </mat-selection-list>

  <mat-form-field appearance="fill">
    <mat-label *ngIf="selectedAsIngredient!=null" >Amount of {{transformMetricMapMetricToWord.get(selectedAsIngredient.metric)}}</mat-label>
    <mat-label *ngIf="selectedAsIngredient==null" >Amount </mat-label>
    <input matInput formControlName="amountOfProduct">
  </mat-form-field>

</form>
<button mat-raised-button
        (click)="searchProduct(addProductForm.value);"
        color="primary">Add product to ingredients
</button>

<mat-nav-list>
  <a mat-list-item  *ngFor="let product of chossenProductList">• {{product.amount}} {{transformMetricMapMetricToWord.get(product.metric)}} of {{ product.name}} /s </a>
</mat-nav-list>
</div>
</div>
