
<footer class="page-footer font-small navbar-dark bg-dark " fxLayout="column" fxLayoutAlign="end stretch"  >

  <!-- Footer Elements -->
  <div class="container "  fxLayoutAlign="center stretch" fxLayoutGap="70px">

    <!-- Grid row-->

      <!-- Grid column -->
   <!--   <div class="col-md-12 py-1">
        <div class="mb-4 flex-center">
-->
          <!-- Facebook -->
          <a class="fb-ic">
            <mdb-icon fab icon="facebook" size="2x" class="white-text"></mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <mdb-icon fab icon="twitter" size="2x" class="white-text "></mdb-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <mdb-icon fab icon="instagram" size="2x" class="white-text "></mdb-icon>
          </a>


 <!--     </div>
      &lt;!&ndash; Grid column &ndash;&gt;

    </div>-->
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 :
    <a href="https://mdbootstrap.com/"> kosmala.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
